{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Applications</h1>

        <div class="row">
            <div class="col-md-6">
                <h2>Pending Applications</h2>
                {% if pending_applications %}
                    <ul class="list-group">
                        {% for application in pending_applications %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ application.vacancy.title }}
                                {{ application.applicant.username }}
                                <span class="badge badge-primary badge-pill">{{ application.status }}</span>

                                <div class="form-group">
                                    <label>Resume:</label>
                                    <a href="{{ application.applicant.resume.url }}"
                                       target="_blank">Link</a>
                                </div>

                                <form method="post" action="{% url 'change_application_status' application.id %}">
                                    {% csrf_token %}
                                    <div class="btn-group" role="group">
                                        <button type="submit" class="btn btn-danger" name="action" value="reject">
                                            Reject
                                        </button>
                                        <button type="submit" class="btn btn-success" name="action" value="approve">
                                            Approve
                                        </button>
                                    </div>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No pending applications found.</p>
                {% endif %}
            </div>

            <div class="col-md-6">
                <h2>Approved/Rejected Applications</h2>
                {% if reviewed_applications %}
                    <ul class="list-group">
                        {% for application in reviewed_applications %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ application.vacancy.title }}
                                <span class="badge badge-primary badge-pill">{{ application.status }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No approved or rejected applications found.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
