{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Create a new vacancy</h2>
                <hr>

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                    <div class="form-group">
                        {{ form.salary.label_tag }}
                        {{ form.salary }}
                    </div>
                    <div class="form-group">
                        {{ form.status.label_tag }}
                        {{ form.status }}
                    </div>
                    <button class="btn btn-primary" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <style>
        form label {
            font-weight: bold;
        }

        form .form-group {
            margin-bottom: 20px;
        }

        form input,
        form select,
        form textarea {
            border-radius: 0;
            border-color: #ccc;
            font-size: 16px;
            padding: 10px;
        }

        form input:focus,
        form select:focus,
        form textarea:focus {
            outline: none;
            border-color: #007bff;
        }

        form .btn-primary {
            margin-top: 20px;
        }
    </style>
{% endblock %}
